# Copy this file to .env and fill in your values
# Then run:  pip install -r requirements.txt && python bot.py

TELEGRAM_TOKEN=your_telegram_bot_token_here
SPREADSHEET_ID=1PhrsiIIA0pYOhfma5nX-SIxeC4h2BZZLhgUVLu-vCxo
GOOGLE_CREDENTIALS_FILE=expense-tracker-494306-754d436d5c68.json
